#!/bin/sh

#╔═════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╗
#║ Shell functions compatible with BASH & ZSH                                                                          ║
#╚═════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

#╔═════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╗
#║ Overview                                                                                                            ║
#║ --------                                                                                                            ║
#║ _has()             - Check if a program is installed                                                                ║
#║ __has()            - Check if a program is installed and return a message if not found                              ║
#║ confirm()          - Confirm user input and based on it, proceed or abort the operation at hand                     ║
#║ open_command()     - Open the given dir/file in the default system across Linux, MacOS or WSL                       ║
#║ open_path()        - Open the given dir/file in the default file explorer across Linux, MacOS or WSL                ║
#║ detect_clipboard() - Defines two clipboard functions, clipcopy() and clippaste(), based on the detected platform    ║
#║ copyabsolutepath() - Copy the absolute path of a given directory/file ($PWD if no parameter given) to the clipboard ║
#║ glog()             - Fuzzy search git commits on the current branch                                                 ║
#║ gco()              - Fuzzy git checkout a branch or a tag across all remotes                                        ║
#║ ga()               - Fuzzy git add                                                                                  ║
#║ ff()               - Fuzzy find a file or directory                                                                 ║
#║ fkill()            - Fuzzy find a process and kill it                                                               ║
#║ cdgr()             - cd to the outermost git repository directory                                                   ║
#║ gh()               - Open GitHub page of a repository from the terminal                                             ║
#║ od()               - Run a command, disown the process and then return to prompt without terminating the command    ║
#║ tre()              - Better `tree` with colors, .git exclusion, hidden files                                        ║
#║ update_dnf()       - Run updates for DNF package manager                                                            ║
#║ update_apt()       - Run updates for APT package manager                                                            ║
#║ update_flatpaks()  - Run updates for Flatpak package manager                                                        ║
#║ update_snaps()     - Run updates for Snap package manager                                                           ║
#║ do_update()        - Identify the distro-specific package manager and run system updates and cleanup                ║
#╚═════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

# ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ #

# _has() - Check if a program is installed

_has()
{
    command -v "$1" >/dev/null 2>&1;
}

# ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ #

# __has() - Check if a program is installed and return a message if not found

__has()
{
    if ! _has "$1"; then printf "%s not found.\n" "$1"; return 1; fi
}

# ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ #

# confirm() - Confirm user input and based on it, proceed or abort the operation at hand

# Usage (call with a prompt string or use a default):
# - With custom user input:
#        $ if confirm 'Install Software?'; then echo "Installing Software"; else echo "Cancelled"; fi
# - Without user input (uses default message):
#        $ if confirm; then echo "Done"; else echo "Cancelled"; fi

confirm()
{
    printf "%s\n" "${1:-Are you sure you want to continue? Reply with [Y]es or [N]o and then press ENTER.}";

    while true; do
        read -r REPLY;
        case "$REPLY" in
            [yY][eE][sS]|[yY])  return 0; ;;
            [nN][oO]|[nN])      return 1; ;;
            *)                  printf 'Please reply with either [Y]es or [N]o.\n'; ;;
        esac
    done
}

# ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ #

# open_command() - Open the given dir/file in the default system across Linux, MacOS or WSL

open_command()
{
    local open_cmd;

    case "$OSTYPE" in

        darwin*)    open_cmd='open' ;;

        linux*)     if [ "$(uname -r)" = "*icrosoft*" ]; then
                        open_cmd='wslview';
                    else
                        open_cmd='nohup xdg-open';
                    fi ;;

        *)          printf "Platform %s not supported.\n" "$OSTYPE "; return 1; ;;

    esac

    ${=open_cmd} "$@" >/dev/null 2>&1;
}

# ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ #

# open_path() - Open the given dir/file in the default file explorer across Linux, MacOS or WSL

# Dependencies: open_command()

open_path()
{
    if [ -d "$sel" ]; then open_command "$sel"; else open_command "$(dirname "$sel")"; fi
}

# ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ #

# detect_clipboard() - Defines two clipboard functions, clipcopy() and clippaste(), based on the detected platform

# clipcopy() - Copy data to clipboard
#    <command> | clipcopy  - copies stdin to clipboard
#    clipcopy <file>       - copies a file's contents to clipboard

# clippaste() - Paste data from clipboard to stdout
#    clippaste             - paste clipboard's contents to stdout
#    clippaste | <command> - pipe clipboard's content to another process
#    clippaste > <file>    - paste contents to a file

detect_clipboard()
{
    if [ "${OSTYPE}" = "darwin*" ] && _has pbcopy && _has pbpaste; then
        clipcopy()  { pbcopy < "${1:-/dev/stdin}"; }
        clippaste() { pbpaste; }

    elif [[ "${OSTYPE}" == "(cygwin|msys)*" ]]; then
        clipcopy()  { cat "${1:-/dev/stdin}" > /dev/clipboard; }
        clippaste() { cat /dev/clipboard; }

    elif [ -n "${WAYLAND_DISPLAY:-}" ] && _has wl-copy && _has wl-paste; then
        clipcopy()  { wl-copy < "${1:-/dev/stdin}"; }
        clippaste() { wl-paste; }

    elif [ -n "${DISPLAY:-}" ] && _has xclip; then
        clipcopy()  { xclip -in -selection clipboard < "${1:-/dev/stdin}"; }
        clippaste() { xclip -out -selection clipboard; }

    elif [ -n "${DISPLAY:-}" ] && _has xsel; then
        clipcopy()  { xsel --clipboard --input < "${1:-/dev/stdin}"; }
        clippaste() { xsel --clipboard --output; }

    elif [ -n "${TMUX:-}" ] && _has tmux; then
        clipcopy()  { tmux load-buffer "${1:--}"; }
        clippaste() { tmux save-buffer -; }

    elif [ "$(uname -r)" = "*icrosoft*" ]; then
        clipcopy()  { clip.exe < "${1:-/dev/stdin}"; }
        clippaste() { powershell.exe -noprofile -command Get-Clipboard; }

    else
        _retry_clipboard_detection_or_fail()
        {
            local clipcmd="${1}"; shift
            if detect_clipboard; then
                "${clipcmd}" "$@"
            else
                print "${clipcmd}: Platform $OSTYPE not supported or xclip/xsel not installed" >&2
                return 1
            fi
        }
        clipcopy() { _retry_clipboard_detection_or_fail clipcopy "$@"; }
        clippaste() { _retry_clipboard_detection_or_fail clippaste "$@"; }
        return 1
    fi
}

# Detect at startup. A non-zero exit here indicates that the dummy clipboards were set,
# which is not really an error. If the user calls them, they will attempt to re-detect
# (for example, perhaps the user has now installed xclip) and then either print an error
# or proceed successfully.
detect_clipboard || true;

# ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ #

# copyabsolutepath() - Copy the absolute path of a given directory/file ($PWD if no parameter given) to the clipboard

# Dependencies: clipcopy()

copyabsolutepath() {
    # If no argument passed, use current directory
    local file="${1:-$PWD}";

    # If argument is not an absolute path, prepend $PWD
    [[ $file = /* ]] || file="$PWD/$file";

    # Copy the absolute path without resolving symlinks and if clipcopy fails, exit with an error
    print -n "${file:a}" | clipcopy || return 1;

    # Message with the path in bold letters
    printf ${(%):-"%B\"${file:a}\"%b copied to clipboard.\n"};
}

# ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ #

# glog() - Fuzzy search Git commits on the current branch and then press:
#          - ENTER  - git show (what changed in that commit)
#          - CTRL-D - git diff (between that commit and ^HEAD)
#          - CTRL-Y - copy the commit id
#          - CTRL-H - checkout the commit
#          For truncated entries, use ? key to toggle a preview window

# Dependencies: git, fzf, awk, sed, clipcopy()

glog()
{
    if ! git rev-parse --git-dir > /dev/null 2>&1; then printf "Not inside a Git repository.\n"; return; fi;

    local out shas sha q k;
    while out=$(git log --date=format:'%Y-%m-%d %a' --format=format:'%h  %ad  %<(16,trunc)%an  %>|(1)%s %d' "$@" |
                fzf --no-sort --no-info --query="$q" --print-query --expect=ctrl-d,ctrl-y,ctrl-h      \
                    --border-label=" Search Git commits on the current branch " --border-label-pos=2  \
                    --color 'label:yellow:bold'                                                       \
                    --preview 'echo {}' --preview-window down:3:hidden:wrap --bind '?:toggle-preview' \
                    --header-first --header='↵: Show | ^D: Diff | ^Y: Copy Hash | ^H: Checkout'); do
        q=$(head -1 <<< "$out");
        k=$(head -2 <<< "$out" | tail -1);
        shas=$(sed '1,2d;s/^[^a-z0-9]*//;/^$/d' <<< "$out" | awk '{print $1}');
        [ -z "$shas" ] && continue;
        if   [ "$k" = ctrl-d ]; then git diff --color=always $shas;
        elif [ "$k" = ctrl-y ]; then (printf $shas | clipcopy) && (printf "$shas copied to clipboard.\n") || return 1;
        elif [ "$k" = ctrl-h ]; then git checkout $shas;
        else for sha in $shas; do git show --color=always $sha; done
        fi
    done
}

# ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ #

# gco() - Fuzzy git checkout a branch or a tag across all remotes

# Dependencies: git, fzf, awk, sed

gco()
{
    if ! git rev-parse --git-dir > /dev/null 2>&1; then printf "Not inside a Git repository.\n"; return; fi;

    local tags branches target;

    branches=$(git --no-pager branch --all --format="%1B[0;34;1mbranch%09%1B[m%(refname:short)" | sed '/^$/d') || return;

    tags=$(git --no-pager tag | awk '{print "\x1b[35;1mtag\x1b[m\t" $1}') || return;

    target=$((echo "$branches"; echo "$tags") | \
              fzf --border-label=" Git checkout a branch or a tag across all remotes " \
                  --border-label-pos=2 --ansi --color 'label:yellow:bold') \
            || return;

    git checkout "$(awk '{print $2}' <<< "$target")";
}

# ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ #

# ga() - Fuzzy git add

# Dependencies: git, fzf, xargs

ga()
{
    if ! git rev-parse --git-dir > /dev/null 2>&1; then printf "Not inside a Git repository.\n"; return; fi;

    git diff --name-only --line-prefix="$(git rev-parse --show-toplevel)//" |
    fzf --border-label=" Stage modified files (git add) " --border-label-pos=2 --color 'label:yellow:bold' |
    xargs git add -v;
}

# ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ #

# ff() - Fuzzy find a file or directory and then press:
#        - ENTER    - cd to the selected entry
#        - CTRL + V - open the selected entry in the default $VISUAL editor
#        - CTRL + N - open the selected entry in the default $EDITOR
#        - CTRL + O - open the selected entry in the default system app
#        - CTRL + E - open the selected entry in the default file explorer
#        - CTRL + Y - yank the selected entry to the clipboard
#        For truncated entries, use ? key to toggle a preview window

# Usage:
# ff <path/to/search>  (if invoked without a path, search under $HOME)

# Dependencies: fzf, fd/locate, copyabsolutepath(), open_command(), open_path()

ff()
{
    local entries key sel;

    # entries=("$(locate ${1:-~} |                                                                               \
    entries=("$(fd -I --full-path --hidden --exclude ".git" --color=never . ${1:-~} |                             \
                fzf --preview 'echo {}' --preview-window down:3:hidden:wrap --bind '?:toggle-preview' --exit-0    \
                    --border-label=" Find Files & Directories " --border-label-pos=2  --color 'label:yellow:bold' \
                    --expect=ctrl-o,ctrl-v,ctrl-n,ctrl-y,ctrl-e --header-first                                    \
                    --header='↵:cd | ^E: File Explorer | ^V: $VISUAL | ^N: $EDITOR | ^O: System App | ^Y: Copy')");

    key="$(head -1 <<< "${entries[@]}")";
    sel="$(head -2 <<< "${entries[@]}" | tail -1)" || return;

    if   [[ "$key" == ctrl-o ]]; then open_command "$sel";
    elif [[ "$key" == ctrl-v ]]; then "$VISUAL" "$sel";
    elif [[ "$key" == ctrl-n ]]; then "$EDITOR" "$sel";
    elif [[ "$key" == ctrl-e ]]; then open_path "$sel";
    elif [[ "$key" == ctrl-y ]]; then copyabsolutepath "$(printf "%s" "$sel")";
    elif [[ -d "$sel" ]] ;       then cd "$sel"; else cd "$(dirname "$sel")";
    fi
}

# ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ #

# fkill() - Fuzzy find a process and kill it

# Dependencies: fzf, sed, awk

fkill() {
   local pid fzf_kill;

   pid=""
   fzf_kill='fzf -m --border-label=" Find and Kill a Process " --border-label-pos=2 --color="label:yellow:bold"';

   if [ "$UID" != "0" ]; then
       pid="$(ps -f -u "$UID" | sed 1d | eval "$fzf_kill" | awk "{print \$2}")"
   else
       pid=$(ps -ef | sed 1d | eval "$fzf_kill" | awk "{print \$2}")
   fi

   if [ "x$pid" != "x" ]; then
       printf "%s" "$pid" | xargs kill -"${1:-9}"
   fi
}

# ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ #

# cdgr() - cd to the outermost git repository directory

cdgr()
{
    local gitroot;
    gitroot="$(git rev-parse --show-toplevel)";

    [ -z "$gitroot" ] && return 1;

    while [ -n "$gitroot" ]; do
        cd "$gitroot" || return 1;
        gitroot="$(git rev-parse --show-superproject-working-tree 2>/dev/null)";
    done

    return 0;
}

# ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ #

# gh() - Open GitHub page of a repository from the terminal

# Usage:
# gh from a non git repo gives you an error message and exists
# gh from a repo opens it. Works with github, gitlab, etc...
# gh <remote> opens the remote. For eg, gh upstream.

# Dependencies: git, sed

gh()
{(
    set -e;
    git remote -v | grep push;
    remote=${1:-origin};
    printf "Using remote %s\n" "$remote";

    URL=$(git config remote."$remote".url | sed "s/git@\(.*\):\(.*\).git/https:\/\/\1\/\2/");
    printf "Opening %s\n" "$URL";
    open "$URL" >/dev/null;
)}

# ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ #

# od() - Run a command, disown the process and then return to prompt without terminating the command

# Usage:
# od meld ~/dotfiles ~/repo

od()
{
    "$@" &
    disown;
    return 0;
}

# ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ #

# tre() - Better `tree` with color, shows hidden files, ignores the `.git` directory and lists directories first.

# Usage:
# tre dir1 dir2

tre()
{
    # The output gets piped into `less` with options to preserve color and line numbers, unless it fits in one screen.
    tree -aC -I ".git" --dirsfirst "$@" | less -FRNX;
}

# ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ #

# Update, upgrade and clean dnf, apt, flatpak and snap packages in your system

# Dependencies: confirm()

# update_dnf() - Run updates for DNF package manager

update_dnf()
{
    # TODO: Run updates for DNF package manager
    return 0;
}

# update_apt() - Run updates for APT package manager
update_apt()
{
    if ! __has apt-get; then return 1; fi

    printf "Checking for available Apt updates...\n";
    sudo apt update -qq;
    sudo apt-get -s dist-upgrade | awk '/^Inst/ { print $2 }';

    printf '\n';

    if ! confirm 'Continue ? [y/N]'; then printf "Apt update cancelled.\n\n"; return 1; fi

    # Update
    sudo apt update;
    sudo apt install --fix-missing -y;
    sudo apt upgrade --allow-downgrades -y;
    sudo apt full-upgrade --allow-downgrades -y;

    # Clean-up
    sudo apt install -f;
    sudo apt autoremove -y;
    sudo apt autoclean;
    sudo apt clean;

    printf "Apt update finished.\n\n";
}

# update_flatpaks() - Run updates for Flatpak package manager
update_flatpaks()
{
    if ! __has flatpak; then return 1; fi

	printf "Checking for available Flatpak updates...\n";
    flatpak remote-ls --updates;

    printf '\n';

    # TODO: Execute this step only if there are Flatpaks available for update
    if ! confirm 'Start Flatpak update ? [y/N]'; then printf "Flatpak update cancelled.\n\n"; return 1; fi

    printf "\nStarting Flatpak update...\n";
    flatpak update -y;

    printf "Doing Flatpak clean-up...\n";
    flatpak uninstall --delete-data -y;
    flatpak uninstall --unused -y;

    printf "Flatpak update finished.\n\n";
}

# update_snaps() - Run updates for Snap package manager
update_snaps()
{
    if ! __has snap; then return 1; fi

	printf "Checking for available Snap updates...\n";
	sudo snap refresh --list

    printf '\n';

    # TODO: Execute this step only if there are Snaps available for update
    if ! confirm 'Start Snap update ? [y/N]'; then printf "Snap update cancelled.\n\n"; return 1; fi

    printf "\nStarting Snap update...\n";
    sudo snap refresh;
    printf "Snap update finished.\n\n";
}

# do_update() - Identify the distro-specific package manager and run system updates and cleanup
do_update()
{
    printf "\nStarting system update...\n";

    if _has apt-get; then update_apt;      fi ;
    if _has dnf;     then update_dnf;      fi ;
    if _has flatpak; then update_flatpaks; fi ;
    if _has snap;    then update_snaps;    fi ;

    printf "Done. It's good practice to do a system reboot now.\n"
}

# ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ #

# Dependency check

if ! _has fzf;              then printf "fzf not found.\n";                fi
if ! _has git;              then printf "git not found.\n";                fi
if ! _has sed;              then printf "sed not found.\n";                fi
if ! _has awk;              then printf "awk not found.\n";                fi
if ! _has "$EDITOR";        then printf "EDITOR not set.\n";               fi
if ! _has "$VISUAL";        then printf "VISUAL editor not set.\n";        fi
if ! _has confirm;          then printf "confirm() not found.\n";          fi
if ! _has clipcopy;         then printf "clipcopy() not found.\n";         fi
if ! _has copyabsolutepath; then printf "copyabsolutepath() not found.\n"; fi
if ! _has open_command;     then printf "open_command() not found.\n";     fi
if ! _has open_path;        then printf "open_path() not found.\n";        fi

# ════════════════════════════════════════════════════════════════════════════════════════════════════════════════════ #
